/* ElectronThemes.css */

/* Base theme */
.theme-electron {
	font-family: monospace;
	color: cyan;
	background: #00111155;
}

/* General borders */
.theme-electron .electron-card {
	border-radius: 8px;
	border: 1px solid cyan;
	box-sizing: border-box;
}

/* Links */
.theme-electron a {
	color: #FFFFFF88;
	text-decoration: none;
	position: relative;
	transition: 0.2s
}

/* hover effect */
.theme-electron a:hover {
	color: #FFFFFFFF;
}
