/* ElectronThemes.css */

.theme-electron-cyan {
	--color: cyan;
	--card-background: #00111155;
	--card-border-color: cyan;
	--card-glow: cyan;
	--anchor-color: #FFFFFF88;
	--anchor-hover: #EFFFFFFF;
}

/* Base theme */
.electron-base {
	font-family: monospace;
	color: var(--color);
}

/* General borders */
.electron-card {
	border-radius: 8px;
	border: 1px solid var(--card-boder-color);
	box-sizing: border-box;
	background: var(--card-background);
}

/* Links */
.electron-a {
	color: var(--anchor-color);
	text-decoration: none;
	position: relative;
	transition: 0.2s
}

/* hover effect */
.electron-a:hover {
	color: var(--anchor-hover);
}
